body {
    padding-top: 56px;
    background-color: #ebeff2;
}
.navbar{
    padding: .8rem;
    background: linear-gradient(#3EA4E2,#3661B9);
}
.navbar-nav li{
    padding-right:20px; 
}
.rowPad{
    padding-top: 5%;
}
.rowPad2{
    padding-top: 10%;
}
.footer{
    padding: 3em;
}
#info{
    width: 90%;
    height: 500px;
    background-color: rgb(221, 215, 215);
}
.main-color-bg{
    background: linear-gradient(#3EA4E2,#3661B9) !important;
    border-color: rgb(41, 67, 119) !important;
}
.div-color-bg{
    border: 1px solid #c1c3c5 !important;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    height: 350px;
    overflow: auto; 
}
.div-color-bg1 {
    border:1px solid #c1c3c5 !important;
    background-color: white;
    border-radius: 5px;
    height: 150px;
    padding: 30px;
}
a{
    padding: 50px;
}
.note{
    width: 90%;
    height: 250px;
    overflow: auto; 
    border: 1px solid gray;
    border-radius: 5px;
}