.icon{
    font-size: 4rem;
}
table{
    table-layout: fixed;
    empty-cells: collapse;
}
td{
    height: 15rem;
    width: 7rem;
    align-content: center;
}
td ul li{
    list-style: none;
    /*overflow: hidden;*/
    margin: 0.2rem;
    padding: 0;
}
td ul{
    padding: 0;
    width: auto;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
  }

.modal-backdrop {
   background-color: transparent !important;
}

/*#myModal, #myModal2{
    position:absolute;
    top: 20%;
}*/

.popover .arrow{
    visibility: hidden;
}
.popover{
    width: 100%;
}
.calender-item-title, .calender-item-text{
    text-align: center;
}

.modal-content, .modal-title{
    font-weight: bold;
}


